DATABASE_URL=postgresql://uvghelp:password@localhost:5432/uvghelp_db
DB_USER=uvghelp
DB_PASSWORD=password
APP_ENV=development
APP_PORT=8000
CORS_ORIGINS=*
JWT_SECRET=cambia-esto-en-produccion
JWT_EXPIRE_HOURS=24
